@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Momo+Trust+Display&family=Playpen+Sans+Hebrew:wght@100..800&display=swap");

body {
  font-family: "Playpen Sans Hebrew", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.info {
  font-size: 24px;
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
}
