.side-bar {
  font-size: 30px;
  background: var(--bg-side-bar);
  padding: 30px 0;
  height: 100vh;
  width: 250px;
}
.side-bar nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.nav-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 25px;
  border-right: 3px solid transparent;
}
.nav-item:hover {
  background-color: var(--bg-light);
}
nav a span {
  color: var(--text-dark);
}
